<div class="index">
  <div class="colorbox">
  <% color = @colors.find_by(id: 1)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 2)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 3)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 4)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 5)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 6)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 7)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 8)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 9)%>
  <%= color.color_th %>
  </div>

  <div class="colorbox">
  <% color = @colors.find_by(id: 10)%>
  <%= color.color_th %>
  </div>
</div>